@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --pale-orange: hsl(33, 100%, 98%);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background: var(--cream);
}

.container {
  margin: auto;
  background: grey;
  width: 375px;
  display: grid;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

header {
  background: var(--soft-red);
  color: var(--pale-orange);
  padding: 5% 5%;
  height: 100px;
  width: 360px;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1.5rem;
}

.label {
  position: relative;
  font-size: 1rem;
}

.logo {
  float: right;
  margin-top: 4%;
}

main {
  background: var(--pale-orange);
  height: 580px;
  color: var(--medium-brown);
}

.wrapper {
  padding: 5%;
}

h1 {
  margin-top: 3%;
  font-size: 1.5rem;
  color: var(--dark-brown);
}

.amount {
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 300px;
  margin-bottom: 10%;
}

li {
  /* height: 90%; */
  text-align: center;
  margin: 0px 5px;
  text-decoration: none;
  width: 34px;
  font-size: 0.7rem;
}

.popup {
  position: fixed;
  padding: 5px;
  transform: translate(-2px, -25px);
  border-radius: 2px;
  background: var(--dark-brown);
  color: var(--cream);
  font-size: 0.8rem;
  min-width: 38px;
  height: 20px;
  vertical-align: center;
  display: none;
}

/* position relative */

li:hover {
  cursor: pointer;
}

li:hover .popup {
  display: block;
}

li:hover .bar {
  opacity: 0.6;
}

.bar {
  background: var(--soft-red);
  height: 1px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.max {
  background: var(--cyan);
}

hr {
  color: var(--cream);
  margin-bottom: 10%;
}

footer {
  display: flex;
  align-items: end;
  margin-top: 8%;
  padding: 10% 0%;
}

.monthly-total {
  width: 70%;
}

.percent-change {
  width: 50%;
}

h2 {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 5%;
}

footer {
  font-size: 1rem;
  display: flex;
}

.percent-change {
  text-align: right;
}

.month {
  color: var(--dark-brown);
  font-size: 1rem;
}

.total {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {

  .container {
    width: 600px;
  }

  header {
    width: 500px;
  }

  h1 {
    font-size: 2rem;
  }


}